.error{
    border-color: red;
    box-shadow: 0 0 5px 4px rgb(179, 41, 41);
}


body {
    background-image: linear-gradient(to right, #a8edea, #fed6e3);
    min-height: 100vh;
    background-attachment: fixed;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .ip:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

